.window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	padding: 1rem;
	font-size: 1rem;
	background: var(--actionbackground);
}
.show {
	display: block;
	overflow: visible;
	z-index: 30;
}

.hidden {
	display: none;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: 0;
}

.forms {
	display: flex;
	position: relative;
	padding: 1.5rem;
	flex-direction: column;
	align-items: center;
}

.close {
	position: absolute;
	top: 1%;
	right: 1%;
	border: none;
	background: none;
}

.close > svg {
	width: 1.2rem;
	height: 1.2rem;
}

.btn {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	white-space: nowrap;
	border: none;
	border-radius: 16px;
	transition: color 0.2 ease;
	background: var(--button-type-one);
	color: var(--subtitle);
	cursor: pointer;
}

.btn:hover {
	line-height: 1.5;
	text-decoration: line-through;
	color: var(--subtitle-hover);
}
