.wrapper {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'. Header .'
		'. main .'
		'.Footer .';
}

.header {
	grid-area: Header;
}

.main {
	grid-area: main;
}

.footer {
	grid-area: footer;
}
