:root {
	--primary: #333333;
	--primary-hover: #636363;
	--background: #f5f5f5;
	--subbackground: #fdf9f9;
	--actionbackground: #fafafa;
	--text: #000;
	--title: #003366;
	--subtitle: #23609a;
	--subtitle-hover: #4c396f;
	--price-standart: #32773e;
	--price-discount: #b81414;
	--price-old: #5f5d5d;
	--button-type-one: #ccf8ad;
	--button-type-two: #093ccd;
	--button-type-two-text: #dbfb1a;
	--button-type-two-text-hover: #cadd5f;
	--rating-star: #9a27b9;
	--rating-star-hover: #6d1b83;
	--red: red;
}

body {
	background-color: var(--background);
	color: var(--text);
}
